.table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.5cm;
  font-family: sans-serif;
  max-width: 800px;
  box-shadow: 00 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: rgb(64, 175, 175);
  color: white;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid rgb(201, 189, 189);
}

.table tbody tr:nth-of-type(even) {
  background-color: aliceblue;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid aqua;
}

.btn {
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-edit {
  background-color: rgb(75, 75, 243);
}

.btn-delete {
  background-color: red;
}

.btn-view {
  background-color: azure;
  color: black;
}
